


.round-blue {
    -fx-background-color: #005e99;
    -fx-text-fill: white;
    -fx-background-radius: 4px;
}

.round-blue:hover {
    -fx-background-color: #1da5f9;

}
.trans-round {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 16px;
    -fx-border-color: #0C00FF;
    -fx-border-radius: 30;
}





