


.round-blue {
    -fx-background-color: #0C00FF;
    -fx-text-fill: white;
    -fx-background-radius: 16px;
}

.round-blue:hover {
    -fx-background-color: white;
    -fx-text-fill: #0C00FF;
    -fx-border-color: #0C00FF;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
}

.trans-round {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 16px;
    -fx-border-color: #0C00FF;
    -fx-border-radius: 30;
}

.tab-button {
    -fx-background-color: #0C00FF;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

.tab-button:pressed {
    -fx-background-color: #0c5c96;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

.tab-button:hover {
    -fx-background-color: #0c5c96;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

.tab-button:focused {
    -fx-background-color: #0c5c96;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}




