.table-view {
    -fx-background-color: white;

}

.table-view:focused {
    -fx-background-color: white;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0, 0, 0;
}

.table-view .column-header-background .label{
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: #005e99;
}

.table-view .table-cell{
    -fx-text-fill: #1da5f9;
}


.table-view .scroll-bar:horizontal .increment-arrow,
.table-view .scroll-bar:horizontal .decrement-arrow,
.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
    -fx-vbar-policy: always;
}
.table-view > .scroll-pane {

    -fx-vbar-policy: always;
}



.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, white;
}

.table-row-cell:selected{
    -fx-background-color: -fx-table-cell-border-color, #1da5f9;
}

.table-row-cell:selected .table-cell{
    -fx-background-color: -fx-table-cell-border-color, #1da5f9;
    -fx-text-fill: white;
}


.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-fill: white;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #005e99;
    -fx-background-radius: 5em;
}


.margin {

    -fx-translate-x: 40;
}



