.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #005e99;
    -fx-background-radius: 5em;
}


.beans {
    -fx-background-color: red;
}


