<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link href="https://www.snow-forecast.com/stylesheets/feed.css" media="screen" rel="stylesheet" type="text/css"/>
<script type="javascript">

</script>
<div id="wf-weatherfeed">
    <iframe style="overflow:hidden;border:none;" allowtransparency="true" height="272" width="469"
            src="https://www.snow-forecast.com/resorts/Mount-Hutt/forecasts/feed/mid/m" scrolling="no" frameborder="0"
            marginwidth="0" marginheight="0"><p>Your browser does not support iframes.</p></iframe>
</div>
</body>
</html>