.titled-pane .title {
    -fx-alignment: center-left;
    -fx-cursor: "hand";
    -fx-focus-color: #555555;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.titled-pane:expanded {
    -fx-text-fill: white;
}

.titled-pane:expanded > .title {
    -fx-base: #555555;
    -fx-text-fill: white;
}

.titled-pane:hover > .title {
    -fx-base: #555555;
}

.titled-pane:hover {
    -fx-text-fill: white;
    -fx-background-color: blue;
}

.titled-pane .arrow {
    -fx-opacity: 1;
}

.linear-grad-to-bottom{
    -fx-background-color: linear-gradient(to bottom, #002BFF, #00C1FF);
}