.titled-pane > .title {
    -fx-alignment: center-left;
    -fx-cursor: "hand";
    -fx-focus-color: #00C1FF;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-background-color: transparent;
}


.titled-pane:expanded {
    -fx-text-fill: white;
    -fx-background-color: blue;
}

.titled-pane:expanded > .title {
    -fx-base: #0078FF;
    -fx-text-fill: white;
}

.titled-pane:hover > .title {
    -fx-base: #00C1FF;
}

.titled-pane:hover {
    -fx-text-fill: white;
    -fx-background-color: #00C1FF;
}

.titled-pane .arrow {
    -fx-opacity: 1;
}

.titled-pane > *.content {
    -fx-border-color: transparent;
}

.backGround-grad{
    -fx-background-color: linear-gradient(to top, #00FFDC, #00B9FF);
}


.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #0400FF;
}
.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
    -fx-cell-size: 35;
    -fx-alignment: center-left;
    -fx-background-color: #0078FF;
    -fx-text-fill: white;
    -fx-alignment: CENTER_LEFT;

}
.table-row-cell:selected {
    -fx-background-color: whitesmoke;
    -fx-text-background-color:  #0400FF;

}

.table-view {
    -fx-border-radius: 16px;
}


.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #004DFF;
    -fx-background-radius: 10px;
}

.scroll-bar .track{
    -fx-background-color: linear-gradient(to top, #00FFDC, #00B9FF);
    -fx-padding: 0px;
}

.scroll-bar .increment-button ,
.scroll-bar .decrement-button {
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";

}
