.tab {

    -fx-background-color: blue;
    -fx-pref-width: 178;
}


.tab:hover, .tab:selected {

    -fx-background-color: #FFFFFF;
    -fx-focus-color: white;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: ladder(background, blue 49%, black 50%);
}


.tab-label {

    background: black;
    -fx-font-size: 18px;
    -fx-text-fill: ladder(background, white 49%, black 50%);

}


.tab-label:hover, .tab:selected > .tab-container > .tab-label {

    background: black;

    -fx-text-fill: ladder(background, blue 49%, black 50%);
}

.tab-header-background {
    -fx-background-color: linear-gradient(to top, #FFFFFF, #0051FF) ;
}